* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

header {
    grid-area: cabecalho;
}

main {
    grid-area: conteudo;
}

footer {
    grid-area: rodape;
}

body {
    display: grid;
    background-color: #000033;
    min-width: 100vw;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'cabecalho cabecalho cabecalho cabecalho'
    'conteudo conteudo conteudo conteudo'
    'rodape rodape rodape rodape';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo img {
    width: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li a{
    margin-left: 15px;
    text-decoration: none;
    color: #cd950c;
    font-size: 1.3em;
    letter-spacing: 2px;
}

li a:hover{
    border-top: solid 3px #cd950c;
}

.conta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.agenciaConta {
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
}

.agenciaConta input {
    border: none;
    text-align: center;
    font-size: 0.9em;
    width: 50px;
    letter-spacing: 1px;
}

.botaoConta {
    background-color: gray;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 10px;
}

.botaoConta a i{
    color: rgb(88, 87, 87);
}

.login a{
    color: #cd950c;
    text-decoration: none;
    padding: 15px;
    border: solid #cd950c 2px;
    border-radius: 10px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.login a:hover{
    color:#000033;
    background-color: #cd950c;
    border: solid #cd950c 2px;
}
